.lfr-layout-structure-item-container {padding: 0;}.lfr-layout-structure-item-row {overflow: hidden;}.lfr-layout-structure-item-ebbf0190-9d45-a678-1751-d83d07f18818 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-ebbf0190-9d45-a678-1751-d83d07f18818) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-3830355a-3818-8d6e-bc3b-681629dc3554 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-3830355a-3818-8d6e-bc3b-681629dc3554) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-9b4ab0ce-0348-e724-699d-392919a65371 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-9b4ab0ce-0348-e724-699d-392919a65371) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-01c4d60f-a8e0-0641-de13-69896bcaa050 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-01c4d60f-a8e0-0641-de13-69896bcaa050) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-118b9c84-e34d-38f1-4fbe-24213ae76b75 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-118b9c84-e34d-38f1-4fbe-24213ae76b75) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-ddbef899-a4d8-863d-4565-5167bb5edffe {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-ddbef899-a4d8-863d-4565-5167bb5edffe) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-dc76aedb-708c-9b13-073f-8e8057c3a1b2 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-dc76aedb-708c-9b13-073f-8e8057c3a1b2) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-8ff944a4-d24f-d6ba-4ae9-b828c9b1d9d3 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-8ff944a4-d24f-d6ba-4ae9-b828c9b1d9d3) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-1a1c1ac1-a6d3-cc08-18f4-a513d084e32c {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-1a1c1ac1-a6d3-cc08-18f4-a513d084e32c) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
